<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="cpprestsdk.v140.windesktop.msvcstl.static.rt-static" version="2.10.12" targetFramework="native" />
</packages>